@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Pokemon GB";
    src: url("fonts/Pokemon GB.woff") format("woff");
    src: url("fonts/Pokemon GB.ttf") format("truetype"); }
  
  @font-face {
    font-family: "Press Start 2P";
    src: url("fonts/PressStart2P-Regular.woff") format("woff");
    src: url("fonts/PressStart2P-Regular.ttf") format("truetype"); }
  
  * {
    box-sizing: border-box; }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0; }
  
  .framed {
    position: relative;
    font-family: "Pokemon GB";
    border-image: url("./images/frame-hd.png") 42 round;
    border-width: 21px;
    border-style: solid;
    padding: 1em;
    margin: 1em 0 0 0;
    width: 100%;
    max-width: 100%; }
    .framed.no-hd {
      border-image: url("./images/frame.png") 7 round;
      border-width: 7px; }
    .framed.neutral {
      background: #F8F3F8;
      color: #181010; }
      .framed.neutral.exclude-border {
        background-clip: padding-box; }
    .framed.primary {
      background: #48A058;
      color: #F8F3F8;
      text-shadow: -1px -1px 0 #181010, 1px -1px 0 #181010, -1px 1px 0 #181010, 1px 1px 0 #181010; }
      .framed.primary.exclude-border {
        background-clip: padding-box; }
    .framed.secondary {
      background: #F0B088;
      color: #F8F3F8;
      text-shadow: -1px -1px 0 #181010, 1px -1px 0 #181010, -1px 1px 0 #181010, 1px 1px 0 #181010; }
      .framed.secondary.exclude-border {
        background-clip: padding-box; }
    .framed.danger {
      background: #B3181C;
      color: #F8F3F8;
      text-shadow: -1px -1px 0 #181010, 1px -1px 0 #181010, -1px 1px 0 #181010, 1px 1px 0 #181010; }
      .framed.danger.exclude-border {
        background-clip: padding-box; }
  
  .stats {
    position: relative;
    border: 4px solid #181010;
    border-top: none;
    border-right: none;
    padding: 1em; }
    .stats::after {
      position: absolute;
      right: 0;
      bottom: 0;
      display: inline-block;
      content: '';
      width: 2px;
      height: 2px;
      font-size: 2px;
      color: #181010;
      box-shadow: -4em -1em 0 #181010, -5em -1em 0 #181010, -4em 0 0 #181010, -5em 0 0 #181010, -3em 0 0 #181010, -2em 0 0 #181010, 1em 2em 0 #181010, 1em 2em 0 #181010, 2em 2em 0 #181010, 2em 2em 0 #181010; }
    .stats h2 {
      background-color: #F8F3F8;
      margin-left: -1em;
      margin-top: -1em;
      padding: 1em 1em 1em 0; }
  
  a.button, a.button:hover, a.button:active {
    color: #181010;
    text-decoration: none; }
  
  button, .button {
    position: relative;
    font-family: "Pokemon GB";
    font-size: 1em;
    background: none;
    border: none;
    padding: 0 0 0 1em;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer; }
    button:hover::before, .button:hover::before {
      content: "";
      position: absolute;
      top: 25%;
      transform: translate(-50%, -50%);
      left: -2px;
      width: 2px;
      height: 2px;
      font-size: 2px;
      color: #181010;
      box-shadow: 1em 0em 0 #181010, 2em 0em 0 #181010, 1em 1em 0 #181010, 2em 1em 0 #181010, 3em 1em 0 #181010, 1em 2em 0 #181010, 2em 2em 0 #181010, 3em 2em 0 #181010, 4em 2em 0 #181010, 1em 3em 0 #181010, 2em 3em 0 #181010, 3em 3em 0 #181010, 4em 3em 0 #181010, 5em 3em 0 #181010, 1em 4em 0 #181010, 2em 4em 0 #181010, 3em 4em 0 #181010, 4em 4em 0 #181010, 1em 5em 0 #181010, 2em 5em 0 #181010, 3em 5em 0 #181010, 1em 6em 0 #181010, 2em 6em 0 #181010; }
    button.pokemon, .button.pokemon {
      text-indent: -1000em;
      width: 100%;
      background: url("./images/pkmn.png") 1em center no-repeat;
      background-size: contain; }
  
  ul.buttons {
    display: inline-flex;
    padding: 0;
    list-style: none;
    flex-direction: column; }
    ul.buttons li {
      padding: 0;
      margin: 0.5em; }
    ul.buttons.compact {
      flex-direction: row;
      flex-wrap: wrap; }
      ul.buttons.compact li {
        flex-basis: 45%; }
        body {
            font-family: "Pokemon GB";
            font-smooth: never;
            -webkit-font-smoothing: none;
            min-width: 320px;
            background: #F8F3F8;
            color: #181010;
            image-rendering: pixelated; }
          
          h1, h2, h3, h4, h5, h6 {
            font-weight: normal; }
          
          .wrapper {
            width: 100%;
            max-width: 900px;
            margin: 0 auto; }
          
          .options {
            display: flex;
            justify-content: space-around; }
          
          .opponent {
            text-align: center;
            padding: 1em;
            animation-name: floater;
            animation-duration: 6000ms;
            transform-origin: 50% 50%;
            animation-iteration-count: infinite;
            animation-timing-function: ease; }
            .opponent img {
              width: 64px; }
          
          .message span {
            font-weight: bolder; }
          
          @media only screen and (max-width: 760px) {
            .framed {
              padding: 0.5em;
              margin: 0.5em 0 0 0; }
            .stats {
              padding: 0.5em; }
              .stats h2 {
                margin-left: -0.5em;
                margin-top: -0.5em;
                padding: 0.5em 0.5em 0.5em 0; }
            .opponent {
              padding: 0.5em; } }
          
          /*# sourceMappingURL=css-pokemon-gameboy.css.map */
  .buttn {
    font-family: "Pokemon GB";
    font-size: 1em;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer; }
    .buttn:hover::before {
      content: "";
      position: absolute;
      top: 25%;
      transform: translate(-50%, -50%);
      left: -2px;
      width: 2px;
      height: 2px;
      font-size: 2px;
      color: #181010;
      box-shadow: 1em 0em 0 #181010, 2em 0em 0 #181010, 1em 1em 0 #181010, 2em 1em 0 #181010, 3em 1em 0 #181010, 1em 2em 0 #181010, 2em 2em 0 #181010, 3em 2em 0 #181010, 4em 2em 0 #181010, 1em 3em 0 #181010, 2em 3em 0 #181010, 3em 3em 0 #181010, 4em 3em 0 #181010, 5em 3em 0 #181010, 1em 4em 0 #181010, 2em 4em 0 #181010, 3em 4em 0 #181010, 4em 4em 0 #181010, 1em 5em 0 #181010, 2em 5em 0 #181010, 3em 5em 0 #181010, 1em 6em 0 #181010, 2em 6em 0 #181010; }


          